/* Stylesheet for theTableAssignment.html */

table{
    border-style: solid;
    width: 100%;
    height: 200px;
    text-align: center;
    border-spacing: 5px;
}

th{
    padding-bottom: 10px;
    border-bottom: solid black;
}

td{
    border-style: double;
}